<f:be.container includeCssFiles="{0:'EXT:cookie_data_privacy/Resources/Public/Administration/css/common.css'}" includeJsFiles="{0: 'EXT:cookie_data_privacy/Resources/Public/Administration/js/jquery.min.js',2: 'EXT:cookie_data_privacy/Resources/Public/Administration/js/common.js'}">
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    
                </div>
                <div class="right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">

                </div>
                <div class="right">
                    <f:be.buttons.shortcut />
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <h1>Cookie Pravicy & Data Pravicy (DSGVO)</h1>
                <f:flashMessages />
                <f:render section="content" />
            </div>
        </div>
    </div>
</f:be.container>
